code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.nav-color {
	background-image: linear-gradient(#A39367, #877A52);
}

.footer-color {
	background-image: linear-gradient(#987FB2, #6C5293);
	color: white;
}

#brand-pic {
	padding-left: 10px;
}

footer a {
	color: rgba(255,255,255,.75);
}

footer a:hover {
	color: #A39367;
}

.nav-link {
	margin-right: .3rem;
}

#playlistContainer {
	flex-direction: column;
}

main {
	margin: 2rem 0rem;
}

/*
for different sized browsers
*/
@media (min-width: 900px) {

	.nav-link {
		margin-right: 1rem;
	}

	#playlistContainer {
		flex-direction: row;
		flex-wrap: wrap;
	}

	#playerArea {
		width: 60%;
	}

}