.footer-color, .nav-color {
	background-image: linear-gradient(#987FB2, #6C5293);
	color: white;
}

#brand-pic {
	padding-left: 10px;
}

.post-row {
	margin-left: auto;
	margin-right: auto;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

footer a {
	color: rgba(255,255,255,.75);
}

footer a:hover {
	color: #A39367;
}

#content-area img {
	width: 100%;
	padding: 1rem;
}

.nav-link {
	margin-right: .3rem;
}

#playlistContainer {
	flex-direction: column;
}

.section-space {
	margin-top: 2rem;
}

main {
	margin: 2rem 0rem;
}

#news-area {
	display: flex;
	flex-direction: column;
}

.post-image {
	margin: 2rem auto;
	width: 90%;
}

.centered {
	color: white;
	text-align: center;
	width: 80%;
	font-weight: bold;
	z-index: 99;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@media (min-width: 575px) {
	
	.label-space {
		margin-right: 1rem;
	}

	.form-space {
		margin: 1rem 0;
	}

	.post-row {
		width: 50%;
	}

	.post-image {
		width: 50%;
	}

	#news-area {
		width: 60%;
		margin-left: auto;
		margin-right: auto;
	}

	#carousel {
		width: 60%;
		margin-left: auto;
		margin-right: auto;
	}

}


/*
for different sized browsers
*/
@media (min-width: 900px) {

	.nav-link {
		margin-right: 1rem;
	}

	#playlistContainer {
		flex-direction: row;
		flex-wrap: wrap;
	}

	#playerArea {
		width: 60%;
	}

	#news-area  {
		width: 100%;
		flex-direction: row;
	}

	.post {
		flex-basis: 33%;
	}

	.post .card {
		height: 100%;
	}

}

